%% -*- erlang -*-
{erl_opts, [debug_info]}.
{erlydtl_opts, [
	{doc_root, "templates"},
	{out_dir, "ebin"},
	{source_ext, ".htm"},
	{module_ext, "_dtl"}
]}.
{deps, [
  {mochiweb, ".*",{git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
  {emysql, ".*",  {git, "https://github.com/Eonblast/Emysql.git", "HEAD"}},
  {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
